## ipynb files
**/.ipynb_checkpoints/
**/*.ipynb

## data files
.DS_Store
**/ny_taxi_postgres_data/
**/__pycache__
**/logs
**/*.csv
**/*.csv.gz
**/*.parquet

## terraform files
**/.terraform/
**/*.hcl
**/*.tfstate*

## notes
**/docker_setup.txt
**/*.pptx