## ipynb files
**/.ipynb_checkpoints/
**/*.ipynb

## data files
.DS_Store
**/ny_taxi_postgres_data/
**/*.csv
**/*.csv.gz

## terraform files
*.json
**/.terraform/
**/*.hcl
**/*.tfstate*

## notes
**/*.txt