## ipynb files
**/.ipynb_checkpoints/
**/*.ipynb

## data files
.DS_Store
**/ny_taxi_postgres_data/
**/*.csv
**/*.csv.gz
**/__pycache__
**/logs

## terraform files
**/.terraform/
**/*.hcl
**/*.tfstate*

## notes
**/docker_setup.txt